#Ignoring NSO mounted volume files
config/runtime/ssh
config/runtime/ssl
config/runtime/ncs.crypto_keys

# Ignoring .env
.env

# Ignoring NSO packages compiled files
*load-dir/

# Ignoring MacOS files
.DS_Store